@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Open+Sans:300,400,600,700|Roboto+Condensed:300,400,700|Roboto:100,300,400,500,700');
/* Typography
----------------------------------------------------------- */
body, html{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: .5s;
    // overflow: hidden;
}
.card{
    box-shadow: 1px 1px 1px;
    background-color: red;
}
.card-2{
    box-shadow: 2px 2px 2px;
}
.card-4{
    box-shadow: 4px 4px 4px;
}
.card-6{
    box-shadow: 6px 6px 6px;
}
@media screen and (min-width: 768px){
    .mobile-screen{
        display: none !important;
    }
}
@media screen and (max-width: 768px){
    .dextop-screen{
        display: none !important;
    } 
}
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

h1, h2, h3, h4, h5, h6 { color: #444 }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #444 }

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { color: #f15a23 }

h2, h3, h4, h5, h6 { margin: 30px 0 20px; font-weight: 600; }

h1 { font-size: 24px; margin: 0 0 10px; }

h2 { font-size: 18px }

h3 { font-size: 16px }

h4 { font-size: 14px }

h5 { font-size: 12px }

h6 { font-size: 11px }

ul li{text-decoration: none; list-style: none;}

p { margin: 0 0 10px }

p img { margin: 0 }

p.lead { font-size: 21px; line-height: 27px; color: #777; }

em { font-style: italic }

strong { font-weight: bold }

small { font-size: 80% }

hr { border: solid rgba(0, 0, 0, 0.2); border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

p a, p a:visited { line-height: inherit }

a:link { text-decoration: none }

a:focus { outline: 0 }

a { outline: 0 }

p a, p a:visited { line-height: inherit }

a:link { text-decoration: none; color: red; }
a { color: #f15a23; }
a:hover { color: #f15a23; opacity: 0.8; }

// All Pages Animations
@keyframes serviceDisplay {
    from {opacity: 0;}
    to {opacity: 1;}
}
.service-container, .about-content, .team-content, .consultation-container,
.contact-container {
    animation-name: serviceDisplay;
    animation-duration: 3s;
}

// Global Margin fo the menu
.menu-margin{
    margin-top: 50px;
}
.menu-wrapper {
    position: absolute;
    top: 0px;
    z-index: 100;
    // height: 80px;
    width: 100%;
    .headmenu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 50px;
        background-color: #BC204B;
        padding: 0 20px;
        span.desktop-menu{
            display: none;

        }
       
        span > i {
            font-size: 2em;
            color: #ffffff;
            line-height: 50px;
            padding: 0;
            margin: 0;
        }
        span a[attr=brand]{
            font-size: 1.5em;
            text-transform: uppercase;
            line-height: 50px;
            font-family: 'Lato', 'Roboto';
            font-weight: 600;
            color: #ffffff;
        }
        span.desktop-menu > a {
            font-size: 1.1em;
            color: #ffffff;
            margin: 0;
            // padding: 25px 5px;
            // height: 80px;
            text-transform: uppercase;
            line-height: 50px;
            font-family: 'Lato', 'Roboto';
            font-weight: 300;
        }
    }
  }
// Service Page Styling
.page-header{
    width: 100%;
    height: 200px;
    background-color: lighten(#BC204B, 0%);
    clip-path: polygon(100% 100%, 100% 0%, -300% 0%);
    -webkit-clip-path: polygon(100% 100%, 100% 0%, -300% 0%); 
    border-top: 1px solid lighten(#BC204B, 10%);
    text-align: center;
    overflow: hidden;
    // transition: 0.5s;
    h1{
        text-align: center;
        font-size: 2.2em;
        color: #1D3557;
        font-weight: bold;
        padding-top: 40px;
        font-family: 'Lato', 'Roboto';
        font-weight: 400;
        transform: scale(0);
        transition: 0.5s;
        -webkit-transition: 0.5s;

    }
    p{
        text-align: center; 
        color: #ffffff;
        opacity: 0.6;
        text-transform: uppercase;
    }
    a{
        text-align: center;
        height: 30px;
        background-color: transparent;
        color: #ffffff;
        border: 1px solid #ffffff;
        padding: 5px 10px;
    }
}
#page-header{
    display: none;
}

.progress{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(#000000, 0.8);
    z-index: 1000;
    height: 100vh;
    .indicator{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        margin-left: -100px;
        text-align: center;
        .spin{
            position: relative;
            margin: 0 auto;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            transform: translateY(-50px);
            border: 3px solid #f15a23;
            border-right: 3px solid greenyellow;
            border-left-style: dotted;
            // box-shadow: 0px 0px 5px 8px #f15a23;
            // transition: 0.6s;
            
        }
        i{
            font-size: 4em;
            color: #ffffff;
            box-shadow: 2px 2px 2px 5px;
        }
    }

}

.respond{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(#000000, 0.8);
    z-index: 100;
    height: 100vh;
    .msg{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 350px;
        margin-left: -175px;
        height: 150px;
        background-color: #ffffff;
        transform: translateY(-100px);
        h1{
            padding: 5px 10px;
            margin-top: 20px;   
        }
        p{
            padding: 10px;
            color: green;
            font-size: 1.2em;
        }
        i{
            position: absolute;
            top: 0;
            right: 5px;
            margin-top: 5px;
            font-size: 2em;
        }
    }
}

/* Tablet Portrait and Landscape */
@media screen 
  and (min-width: 768px)
  and (max-width: 1024px)
//   and (-webkit-min-device-pixel-ratio: 1) 
  {
    .menu-margin{
        margin-top: 80px;
    }
    // #page-header{
    //     display: block;
    //     p, p a{
    //         text-align: center;
    //         width: 100%;
    //         margin: 0px;
    //         padding: 2px 0px;
    //         font-size: 0.9em;
    //     }
    // }
    .menu-wrapper {
        .headmenu{
            height: 80px;
            span.desktop-menu{
                display: none;
            }
            span > i {
                font-size: 2.5em;
                color: #ffffff;
                line-height: 80px;
            }
            span a[attr=brand]{
                font-size: 2em;
                text-transform: uppercase;
                line-height: 80px;
                font-family: 'Lato', 'Roboto';
                font-weight: 600;
                color: #ffffff;
            }
            span.desktop-menu > a {
                font-size: 2.5em;
                line-height: 80px;
            }
        }
      }

  }
  /* Desktop Portrait and Landscape */
@media screen 
and (min-width: 1025px) 
// and (max-width: 1600px) 
// and (-webkit-min-device-pixel-ratio: 1) 
{
    .otherPageNav{
        background-color: #BC204B;
        height: 80px;
        width: 100%;
    }
    #page-header{
        display: block;
        height: 250px;
        p{
            text-align: center;
            width: 100%;
            margin: 0px;
            padding: 2px 0px;
            font-size: 0.9em;
        }
        p[attr=see-serv]{
            margin: 10px 0px;
            a{
                padding: 5px;
                border: none;
                text-transform: capitalize;
                color: lighten(#f15a23, 40%);
            }
        }
   
    }
    .menu-margin{
        margin-top: 0px;
    }
    .menu-wrapper {
        
        .headmenu{
            background-color: transparent;
            height: 80px;
            span.desktop-menu{
                display: block;
            }
            .desktop-menu a{
                font-size: 1em;
                padding-left: 10px;
            }
            span.mob-menu{
                display: none;
            }
            span > i {
                font-size: 2em;
                color: #ffffff;
                line-height: 80px;
                display: none;
            }
            span a[attr=brand]{
                font-size: 1.8em;
                text-transform: uppercase;
                line-height: 80px;
                font-family: 'Lato', 'Roboto';
                font-weight: 600;
                color: #ffffff;
            }
            span.desktop-menu > a {
                font-size: 1.1em;
                line-height: 80px;
                padding: 26px 10px;
                height: 80px;
                &:hover{
                    background-color: lighten(#BC204B, 5%);
                }
                &:active{
                    background-color: lighten(#BC204B, 25%);
                }
            }
        }
    }
}


// Mobile Menu Section
.mobile-menu{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #BC204B;
    z-index: 1000;
    background: linear-gradient(to bottom right, #BC204B, lighten(#BC204B, 10%));
    i[attr=close-ic], mat-icon[attr=close-ic]{
        position: absolute;
        top:0;
        margin-top: 10px;
        right: 10px;
        margin-right: 10px;
        font-size: 2.2em;
        color: lighten(#BC204B, 15%);
        padding: 3px;
        border: 2px solid lighten(#BC204B, 15%);
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .shap1{
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: 250px;
        border-radius: 0 0 100% 0;
        background-color: lighten(#BC204B, 5%);
        background: linear-gradient(to bottom right, #BC204B, lighten(#BC204B, 7%));
 
        h1{
            padding: 0px;
            margin: 0px;
            padding-top: 30%;
            padding-left: 5%;
            font-size: 2em;
            color: lighten(#BC204B, 15%);
            transform: scale(0);
        }
        p{
            padding: 0px;
            margin: 0px;
            padding-left: 10%;
            opacity: 0.2;
            font-size: 1.2em;
        }
    }
    .shap2{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 380px;
        height: 350px;
        border-radius: 100% 0 0 0;
        background-color: lighten(#BC204B, 15%);
        opacity: 0.2;
        background: linear-gradient(to top left, #BC204B, lighten(#BC204B, 20%));
    }
    .menu-items{
        position: absolute;
        top: 25%;
        right: 8%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: right;
        text-align: right;
        a{
            font-size: 2.2em;
            padding: 10px 0px;
            color: #1D3557;
            margin-right: -380px;
            opacity: 0.6;
            font-weight: bold;
            transition: 0.3s;
        }
    }
}

// @import './index.scss';
// @import './about.scss';